// assets/styles/styles.scss

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import 'primeicons/primeicons.css';

body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
